@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

a {
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 2;
}

#header .header {
    min-height: 7vh;
    background: rgba(0, 0, 0, 0.7)
}

.header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7%;
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    background: rgba(0, 0, 0, 1)
}

#header .nav-list ul{
    list-style: none;
    position: initial;
    display: inline-block;
    height: auto;
}
#header .nav-list li{
    justify-content: space-between;
    padding: 1em;
    display: inline-block;
}

#header .nav-list li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: .3s ease;
    background-color: color;
    border-radius: 20px;
    padding: 8px 8px;
    font-size: 1rem;
}

#header .name h1{
    color: white;
    font-size: 1.2rem;
}

#header .nav-list li a:hover {
    color: #3C3F58;
    background-color: #00CCFA;
    border-radius: 20px;
}




#hero {
    background-image: url(./assets/_DSC0889-4.jpg);
    background-size: cover;
    width: 100%;
    min-width: 100%;
    background-position: top center;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: auto;
}

#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.1;
    z-index: -1;
}


#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    justify-content: flex-start;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
}

#hero .container span {
    color: #00CCFA;
    margin-left: 850px;

}
#hero .cta {
    display: inline-block;
    padding: 10px 30px;
    color: #00CCFA;
    background-color: transparent;
    border: 4px solid #00CCFA;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 10px;
    transition: .3s ease;
    border-radius: 35px;
    margin-left: 850px;
}

#hero .cta:hover{
    color: #00CCFA;
    background-color: #00CCFA;
    border-radius: 35px;
}


/* Projects Section */

#projects{
    background-image: url(./assets/AdobeStock_281626109.jpeg);
    background-size: cover;
    background-position: top center;
    position: relative;
}

#projects .projects{
    flex-direction: column;
    text-align: center;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0.1%;
}

#projects .section-title {
    font-size: 4rem;
    font-weight: 400;
    color: #000000;
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    margin-top: 100px;
}

#projects .projects-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#projects .projects-item-tri {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 60px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    background-size: cover;
    margin: 20px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#projects .projects-item-web {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 60px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    background-size: cover;
    margin: 20px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
 
#projects .projects-item-epi {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 60px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    background-size: cover;
    margin: 20px 5%;
    margin-bottom: 10%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#projects .projects p {
    color: black;
    z-index: 2;
    font-size: 1.2rem;
}

#projects .projects h2 {
    color: 2E3047;
    padding: 1.5%;
    font-size: 2.2rem;
    z-index: 2;
}
#projects .projects-top p {
    font-size: 1.4rem;
    margin-top: 15px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.05rem;
    color: black;
    margin-bottom: 20px;
    z-index: 2;
}

#about {
    background-image: url(./assets/AdobeStock_485889576.jpeg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: -1;
    background-attachment:  fixed;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
}

#about::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

#about .about {
    flex-direction: column;
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
    padding: 20px, 0;
}

#about .about-title {
    font-size: 4rem;
    font-weight: 400;
    color: white;
    margin-bottom: 0%;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    margin-top: -5%;
    color: #3BBA9C;
}

#about .about-title span {
    color: #b5bbd7;
}

#about .about-content1 {
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    margin-bottom: 10px;
    letter-spacing: .08rem;
    text-align: center;
    margin-top: 20px;
}




#contact{
    background-image: url(assets/AdobeStock_322755810.jpeg);
    background-size: cover;
    background-position: top center;
    position: relative;
    min-height: 100vh;

}

#contact .contact {
    flex-direction: column;
    text-align: center;
    max-width: 850px;
    margin: auto;
    padding: 20px, 0;
}

#contact .contact-title {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 0%;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    padding-top: 80px;
}

#contact .contact-content {
    font-size: 1.2rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    letter-spacing: .08rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

#contact .contact-container {
    max-width: 750px;
    margin: 0 auto;
}

#contact .contact-container form{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    background-color: white;
    padding: 32px;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.3);

}

#contact .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #888;
    font-size: 14px;
}

#contact .form-group-full label {
    display: block;
    margin-bottom: 5px;
    color: #888;
    font-size: 14px;
}
#contact .form-element {
    appearance: none;
    outline: none;
    border: none;
    display: block;
    width: 100%;
    border-radius: 16px;
    padding: 12px 16px;
    background-color: #F3F3F3;
}

#contact .form-element:focus {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    background-color: #FAFAFA;
}

#contact .form-group-full textarea {
    resize: none;
    min-height: 100px;
}

#contact .submit-group {
    text-align: right;
}

#contact .submit-group input {
    text-transform: uppercase;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    padding: 12px 16px;
    background-color: #333;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

#contact .submit-group input:hover{
    color: #2E3047;
    background-color: #3BBA9C;
    border-radius: 8px;
}

@media only screen and (max-width: 1100px) {
    h2{font-size:3.00em;}
    p{font-size:1.5em; line-height:1.5em;}
    th,td,tr{font-size:1.5em; line-height:1.5em;}
    td.date{font-size:1em; padding-top:0.5em;}
    td.navigation{font-size:1.5em; padding:0px 20px 0px 20px;}
    table.footer{font-size:0.33em;}
}